{% extends 'base.html' %}

{% block title %}Trainers{% endblock %}

{% block content %}
<div class="container my-4 d-flex flex-column align-items-center">

  <ul class="list-group mb-4 w-50 text-center">
    {% for num in res %}
    <li class="list-group-item">{{ num }}</li>
    {% endfor %}
  </ul>

  {% load static %}
  <div class="row g-3 justify-content-center w-75">
    {% for trainer in trainers %}
    <div class="col-6 col-md-4 col-lg-3 d-flex flex-column align-items-center">
      <img src="{{trainer }}" alt="Trainer Image" class="img-fluid rounded shadow-sm mb-3" />

      <div class="d-flex align-items-center gap-3">
        <h2 class="mb-0">Price: 1</h2>
        <button type="button" class="btn btn-success">Buy</button>
      </div>
    </div>
    {% endfor %}
  </div>

  {% endblock %}

